<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="sidebar">
        <h2>Previous Conversations</h2>
        <button id="new-convo-btn">New Conversation</button>
        <div id="conversations"></div>
    </div>
    <div id="chatbox-container">
        <div id="conversation-title"></div>
        <div id="chatbox"></div>
        <div id="input-container">
            <input type="text" id="user-input" placeholder="Type a message...">
            <div id="params-container">
                <label>
                    Max New Tokens
                    <input type="number" id="max-new-tokens" value="{{ config['max_new_tokens'] }}">
                </label>
                {% if is_sample_based %}
                <label>
                    Temperature
                    <input type="number" step="0.1" id="temperature" value="{{ config['temperature'] }}">
                </label>
                <label>
                    Top K
                    <input type="number" id="top-k" value="{{ config['top_k'] }}">
                </label>
                <label>
                    Top P
                    <input type="number" step="0.1" id="top-p" value="{{ config['top_p'] }}">
                </label>
                {% endif %}
            </div>
            <button id="send-btn">Send</button>
            <div class="spinner" id="loading-spinner"></div>
        </div>
        <div id="info-container" style="display: none;">
            <div class="info" id="input-token-count"></div>
            <div class="info" id="output-token-count"></div>
            <div class="info" id="latency"></div>
        </div>
    </div>
    <script>
        const modelName = "{{ model_name }}"; // Definir el nombre del modelo en JavaScript
    </script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
